* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.box-body {
    height: 120vh;
    transition: all .3s linear;
    width: 100%; 
    position: relative;
    overflow: hidden;
}

.box-body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background: url('BlueDread-Background.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #3498db; /* Blue shade */
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the navigation links on small screens */
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px; /* Adjust the font size for smaller screens */
}

.logo-brand {
    width: 150px; /* Adjust the size as needed */
    margin-bottom: 10px; /* Add some space below the logo on small screens */
}

.taps-links {
    text-align: center;
}

.taps-links li {
    display: inline;
    margin-right: 20px;
}

.taps-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#services {
    padding: 20px;
}

#contact {
    background-color: #27ae60; /* Green shade */
    color: #fff;
    padding: 20px;
}

#contact a {
    color: #ffcc00; /* Gold shade */
}

footer {
    background-color: #3498db; /* Blue shade */
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    nav ul li {
        margin-bottom: 8px;
    }

    nav a {
        font-size: 16px;
    }

    .logo-brand {
        width: 120px;
    }

    .taps-links a {
        font-size: 16px;
    }
}
